:root {
  --primary-color: #333;
}

@font-face {
  font-family: "Rubik Glitch";
  src: url(fonts/RubikGlitch-Regular.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "montserrat";
  src: url(fonts/Montserrat-Regular.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "montserrat";
  src: url(fonts/Montserrat-Black.ttf);
  font-style: normal;
  font-weight: 600;
}

.js-loading * {
  animation-play-state: paused !important;
}

body {
  background-color: #ece7e1;
  color: var(--primary-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-name {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

.project-name:hover {
  cursor: pointer;
  text-decoration: line-through;
}
.container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.nav-item {
  font-size: 100px;
  font-family: Rubik Glitch;
  line-height: 1;
  text-decoration: none;
  color: var(--primary-color);
  transition: all 200ms ease-in-out;
}

.nav-item:hover {
  color: #333333e7;
}

.home {
  text-decoration: none;
  color: var(--primary-color);
  font-family: montserrat;
  font-size: 50px;
  transition: all 200ms ease-in-out;
}

.home:hover {
  font-style: italic;
}

.section-left {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.first-nav-item {
  animation: slide-right 2.5s 0.2s ease-in-out forwards;
  opacity: 0;
}

.second-nav-item {
  animation: slide-right 2.5s 0.6s ease-in-out forwards;
  opacity: 0;
}

.section-right {
  align-self: flex-end;
  font-family: montserrat;
  max-width: 400px;
}

.project-one {
  animation: appear 2s 1.6s ease forwards;
  opacity: 0;
}

.project-two {
  animation: appear 2s 1.2s ease forwards;
  opacity: 0;
}

.project-three {
  animation: appear 2s 0.8s ease forwards;
  opacity: 0;
}

.project-four {
  animation: appear 2s 0.4s ease forwards;
  opacity: 0;
}

.name {
  font-weight: bold;
  letter-spacing: 0.3rem;
  font-size: 20px;
  margin-bottom: 0;
}

.line {
  height: 360px;
  width: 5px;
  background-color: var(--primary-color);
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  align-self: center;
  animation: fade-slide-up 2.5s ease-out forwards;
}

.current-project {
  opacity: 0.4;
}
footer {
  position: absolute;
  bottom: 0;
  color: var(--primary-color);
  font-family: montserrat;
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-900px);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    transform: translateY(800px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@media (max-width: 800px) {
  .nav-item {
    font-size: 50px;
  }

  p {
    font-size: 14px;
  }
  .container {
    flex-direction: column;
  }

  .line {
    width: 80vw;
    height: 5px;
    margin: 10px;
  }

  .section-right {
    padding-top: 10px;
    align-self: flex-start;
  }

  .name {
    font-size: 16px;
  }

  .home {
    font-size: 30px;
  }
}
