body {
  background-color: #f6fce0;
}

h1 {
  font-family: indie flower;
  font-size: 70px;
}

h2 {
  font-family: indie flower;
  font-size: 70px;
}

h3 {
  font-family: indie flower;
  font-size: 35px;
}

ul {
  font-family: monospace;
}
p {
  font-family: monospace;
  line-height: 1.5;
}

img {
  max-width: 600px;
  border-radius: 10px;
}
a.contact-links {
  text-decoration: none;
  color: rgb(16, 70, 16);
  font-family: monospace;
  transition: all 200ms ease-in-out;
}

a.contact-links:hover {
  color: rgb(90, 140, 90);
  font-size: larger;
}

.navigation {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 15px 0px;
  font-family: indie flower;
  font-size: 30px;
  letter-spacing: 0.4rem;
  background-color: #4557021c;
}

a.nav-links {
  font-family: indie flower;
  text-decoration: none;
  color: rgb(16, 70, 16);
  transition: all 200ms ease-in-out;
}

a.nav-links:hover {
  color: rgb(90, 140, 90);
  font-size: smaller;
}

.hero {
  background: center/ cover url("images/bg-transparent@1.25x.png");
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: top;
  padding-top: 150px;
  justify-content: center;
  margin-bottom: 50px;
}

.description h1 {
  font-size: 100px;
  text-align: center;
  font-family: monospace;
}

.description h2 {
  font-size: 50px;
  text-align: center;
  font-family: indie flower;
}
.description h4 {
  font-size: 20px;
  text-align: center;
  font-family: indie flower;
}

.project-description {
  padding: 0px 30px;
  text-align: center;
}
h1.subheading {
  text-align: center;
  font-family: indie flower;
  padding-top: 80px;
}

.btn-branding-outline {
  padding: 15px;
  background-color: green;
  color: #f6fce0;
  border-radius: 4px;
  font-family: indie flower;
}

.introduction {
  margin-top: 150px;
}

.project-row {
  margin: 100px 0px;
}

.contact-info {
  text-align: center;
  margin-top: 150px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  a.nav-links {
    font-size: 20px;
  }

  .description h1 {
    font-size: 60px;
  }

  .description h2 {
    font-size: 30px;
  }

  .project-description {
    padding: 0px;
  }
}

@media (max-width: 500px) {
  a.nav-links {
    font-size: 12px;
    letter-spacing: 0;
  }

  h1 {
    font-size: 40px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .description h1 {
    font-size: 50px;
  }

  .description h2 {
    font-size: 25px;
  }

  h1.subheading {
    font-size: 20px;
  }

  h2 {
    font-size: 40px;
  }
}
