body {
  background-color: #f6fce0;
}

h2 {
  font-family: indie flower;
  font-size: 70px;
}

p {
  font-family: monospace;
}
.navigation {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 15px 0px;
  font-family: indie flower;
  font-size: 30px;
  letter-spacing: 0.4rem;
  background-color: #4557021c;
}

a.nav-links {
  text-decoration: none;
  color: rgb(16, 70, 16);
}

a.nav-links:hover {
  color: rgb(90, 140, 90);
}

.hero {
  background: center/ cover url("bg-transparent@1.25x.png");
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: top;
  padding-top: 150px;
  justify-content: center;
  margin-bottom: 50px;
}

.description h1 {
  font-size: 100px;
  text-align: center;
  font-family: monospace;
}

.description h2 {
  font-size: 50px;
  text-align: center;
  font-family: indie flower;
}
.description h4 {
  font-size: 20px;
  text-align: center;
  font-family: indie flower;
}

.subheading {
  text-align: center;
  font-family: indie flower;
  font-size: 30px;
  letter-spacing: 0.4rem;
}

.btn-branding-outline {
  padding: 15px;
  background-color: green;
  color: #f6fce0;
  border-radius: 4px;
  font-family: indie flower;
}
